.cybrid-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.25rem;
}

.cybrid-asset-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.cybrid-price-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  cybrid-hint {
    line-height: 0.8rem;
  }
}

.cybrid-symbol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  span {
    font-weight: 500;
  }
}

.cybrid-icon {
  height: 1.7rem;
}

.cybrid-no-data {
  text-align: center;
}

@media screen and (max-width: 599px) {
  .cybrid-currency-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
}
