mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  border: 1px solid #0000001f;
  border-radius: 5px;

  .mat-column-price {
    width: 80px;
  }
  th:first-of-type {
    border-top-left-radius: 5px;
  }
  th:last-of-type {
    border-top-right-radius: 5px;
    text-align: end;
  }
  tr:last-of-type {
    td {
      border-bottom: none;
    }
    td:first-of-type {
      border-bottom-left-radius: 5px;
    }
    td:last-of-type {
      border-bottom-right-radius: 5px;
    }
  }
}

.currency-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.symbol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-weight: 500;
}

.code {
  margin: 2px 0 0 0;
  line-height: 0.8rem;
}

.price-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

.fiat {
  margin: 0;
}

.icon {
  height: 1.7rem;
}

.pointer {
  cursor: pointer;
}

.no-data {
  text-align: center;
}

.fatal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .currency-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
}
