.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
}

#keyhole {
  position: absolute;
  top: 40%;
  margin-top: 17px;
  animation: keyhole 2s ease;
  z-index: 1000;
  fill: #9c27b0;
}

#lock {
  position: absolute;
  top: 40%;
  animation: lock 2s ease;
  z-index: 1000;
  fill: #9c27b0;
}

#text-foreground {
  position: absolute;
  fill: #9c27b0;
  z-index: 1000;
  animation: text-foreground 2s ease;
}

@keyframes text-foreground {
  0% {
    opacity: 0;
    fill: white;
    transform: translateY(40%);
  }
  50% {
    opacity: 1;
    fill: #9c27b0;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    fill: #9c27b0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    fill: #9c27b0;
    transform: translateY(0);
  }
}

@keyframes keyhole {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    margin-top: 17px;
    fill: white;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg);
    margin-top: 15px;
    fill: #9c27b0;
  }
  75% {
    opacity: 1;
    transform: rotate(360deg);
    margin-top: 15px;
    fill: #9c27b0;
  }
  100% {
    margin-top: 17px;
    opacity: 0;
    transform: rotate(360deg);
    fill: #9c27b0;
  }
}

@keyframes lock {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    fill: white;
  }
  50% {
    opacity: 1;
    transform: rotate(-360deg);
    fill: #9c27b0;
  }
  75% {
    opacity: 1;
    transform: rotate(-360deg);
    fill: #9c27b0;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg);
    fill: #9c27b0;
  }
}
