.cybrid-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cybrid-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.25rem;
  span:first-of-type {
    margin-bottom: -5px;
  }
}

.cybrid-account-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.cybrid-asset-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  .cybrid-code {
    margin-top: -5px;
  }
}

.cybrid-symbol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  span {
    font-weight: 500;
  }
}

.cybrid-icon {
  height: 1.7rem;
}

.cybrid-no-data {
  text-align: center;
}
