.cybrid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cybrid-account {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.cybrid-icon {
  height: 48px;
  width: 48px;
}

.cybrid-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.cybrid-asset {
  display: flex;
  flex-direction: column;
  div + div {
    margin-top: -5px;
  }
}

.cybrid-holdings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  div + div {
    margin-top: -5px;
  }
}

.cybrid-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.cybrid-table {
  position: relative;
}

mat-progress-bar {
  position: absolute;
  top: 3.5rem;
}

.cybrid-sort-header {
  display: flex;
  flex-direction: column;
}

.mat-column-transaction {
  .cybrid-sort-header {
    text-align: start;
  }
}

.mat-column-balance {
  .cybrid-sort-header {
    text-align: end;
  }
}

.cybrid-transaction-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  div {
    display: flex;
    flex-direction: column;
  }
  span:last-of-type {
    margin-top: -5px;
  }
}

.cybrid-balance-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  span:last-of-type {
    margin-top: -5px;
  }
}

.cybrid-sell-icon {
  transform: rotate(90deg);
}

@media screen and (max-width: 599px) {
  .cybrid-header {
    flex-direction: column;
    gap: 1rem;
  }

  .cybrid-account {
    gap: 0.5rem;
    align-items: center;
  }

  .cybrid-asset-value {
    display: none;
  }

  .cybrid-asset-name {
    span {
      font-size: 1rem;
    }
  }

  .cybrid-actions {
    display: none;
  }

  .cybrid-icon {
    height: inherit;
    width: 32px;
  }

  .cybrid-holdings {
    align-items: center;
  }
}
