@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../../../../../src/shared/styles/theme.scss';

.tab-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(1rem + 0.25em);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-code {
  @extend .mat-hint;
  @extend .mat-h5;
  color: inherit;
  margin: 0;
}

.display-code {
  @extend .mat-hint;
  margin: 0;
}

.input {
  margin-left: 15px;
}

.prefix {
  margin-top: 4px;
  position: relative;
  .divider {
    position: absolute;
    height: 1rem;
    width: 1px;
    top: 0;
    right: -8px;
    background: currentColor;
  }
}

.hint {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  min-height: 1rem;
  margin-left: 3px;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.select-icon {
  position: fixed;
  max-height: 1.7rem;
  max-width: 1.7rem;
}

.display-icon {
  max-height: 1.7rem;
  max-width: 1.7rem;
}

.price {
  align-self: center;
  margin-bottom: 0;
}

.asset-name {
  margin-left: 2.2rem;
}

.spacer {
  flex: 1 0 auto;
}

.action {
  align-self: flex-end;
}

.fatal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// XL (extra-large)
@media screen and (min-width: 1535px) {
  .hint-wrapper {
    display: flex;
    gap: 1rem;
    .spacer {
      flex: 1;
    }
    .hint {
      flex: 1;
      button {
        margin-left: auto;
      }
    }
  }
  mat-form-field {
    flex: 1;
  }
  .input-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
  .action {
    align-self: center;
    width: 320px;
  }
}
