.cybrid-account {
    display: flex;
    flex-direction: column;
    align-items: center;

    .asset {
        margin: 1rem 0;
    }

    .network,.address {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    #deposit-address {
        margin-top: 2rem;
    }
  }