.cybrid-account {
    display: flex;
    flex-direction: column;
    align-items: center;

    .asset {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .network, .address, .amount {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    #deposit-address {
        margin-top: 2rem;
    }
  }