.cybrid-wrapper {
  display: flex;
}

h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cybrid-list-item {
  height: 3rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cybrid-subheader-item {
  @extend .cybrid-list-item;
  margin-bottom: 0.8rem;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.mat-error {
  display: inline;
}

.cybrid-icon {
  height: 48px;
  width: 48px;
}

.status-chip {

  font-size: 12px;
  border-radius: 20px;
  padding: 2px 17.5px;
  line-height: 20px;
  color: #000;
  background-color: #fcda66;

  &.state-failed {
    color: #fff;
    background-color: #d45736;
  }

  &.state-completed {
    color: #fff;
    background-color: #4dae51;
  }
}