.cybrid-table {
  position: relative;
}

mat-progress-bar {
  position: absolute;
  top: 3.5rem;
}

.cybrid-sort-header {
  display: flex;
  flex-direction: column;
}

.mat-column-account {
  .cybrid-sort-header {
    text-align: start;
  }
}

.mat-column-balance {
  .cybrid-sort-header {
    text-align: end;
  }
}

.cybrid-total-value {
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.cybrid-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.25rem;
  span:first-of-type {
    margin-bottom: -5px;
  }
}

.cybrid-account-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.cybrid-balance-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  .cybrid-code {
    margin-top: -5px;
  }

  .pending-balance {
    color: #007aff;
  }
}

.cybrid-symbol {
  span:first-of-type {
    font-weight: 500;
  }
}

.cybrid-icon {
  max-width: 1.7rem;
}

.cybrid-hide {
  display: none;
}