@use '@angular/material' as mat;

mat-toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include mat.elevation(2);
  z-index: 2;
  min-height: 56px !important;
}

mat-drawer-container {
  flex-grow: 1;
}

mat-drawer-container {
  overflow-y: auto !important;
}

mat-drawer-content {
  max-width: 700px;
  margin: auto;
  padding: 2rem 1rem 1rem;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.spacer {
  flex: 1 0 auto;
}

.package {
  margin-left: auto;
  color: white;
  text-decoration: none;
}
