.cybrid-wrapper {
  display: flex;
}

.cybrid-subheader-item {
  height: 3rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  gap: 1rem;
  .inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
