.cybrid-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cybrid-prefix {
  margin-top: 5px;
  position: relative;
  .cybrid-amount-divider {
    position: absolute;
    height: 1rem;
    width: 1px;
    top: 0;
    right: -8px;
    background: currentColor;
  }
}

.cybrid-option {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.cybrid-trigger-name {
  margin-left: 2.2rem;
}

.cybrid-trigger-icon {
  position: absolute;
  max-height: 1.7rem;
  max-width: 1.7rem;
}

.cybrid-option-icon {
  max-height: 1.7rem;
  max-width: 1.7rem;
}

.cybrid-amount-input {
  margin-left: 15px;
}

.cybrid-approx {
  margin-left: 0.65rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-basis: 50%;
}

@media screen and (min-width: 1535px) {
  .cybrid-approx-wrapper {
    margin-left: calc(50% + 0.5rem);
    display: flex;
    margin-bottom: 1rem;
  }

  .cybrid-input-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
  .cybrid-input-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
}
