name: Deploy Demo to GitHub Pages

on:
  repository_dispatch:
    types: deploy
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CLIENT_ID: ${{ secrets.CYPRESS_CLIENT_ID_BACKSTOPPED }}
      CLIENT_SECRET: ${{ secrets.CYPRESS_CLIENT_SECRET_BACKSTOPPED }}
      CUSTOMER_GUID: ${{ secrets.CYPRESS_CUSTOMER_GUID_BACKSTOPPED }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update public demo credentials
        run: |
          contents="$(jq -r --arg id "$CLIENT_ID" --arg secret "$CLIENT_SECRET" --arg customer "$CUSTOMER_GUID" '.environment.credentials.publicCustomerGuid=$customer | .environment.credentials.publicClientId=$id | .environment.credentials.publicClientSecret=$secret' src/environments/environment.ci.json)" && \
          echo "${contents}" > src/environments/environment.ci.json
      - name: Install and Build
        run: |
          npm ci
          npm run package:library
          npm run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          folder: dist/demo
